.partnerSection {
	margin: 47px 188px 0 188px;
	display: flex;
	align-items: start;
	gap: 130px;
}

@media (max-width: 400px) {
	.partnerSection {
		margin: 32px 16px;

		flex-direction: column;
		flex-flow: column-reverse;
		gap: 32px;
	}
}
